<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome </title>
</head>
<body>
<div class="jumbotron text-center">
    <h1 style="text-align: center; color: #07ee10" class="display-3">Welcome Developer</h1>
    <p  style="text-align: center; color: #4CAF50" class="lead"><strong>You've Registration Successfully!</strong></p>
    <br/>
    <h4 style="text-align: center;"><a th:href="@{/login}">Click here to Login</a></h4>
    <hr>
</div>
</body>
</html>